@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  list-style-type: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

body {
  width: 100%;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.popup {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__call {
  width: 60%;
  background: #fff;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border-radius: 100px;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup__call .popup__back {
  position: absolute;
  top: 20px;
  right: 50px;
  width: 30px;
  height: 30px;
}

.popup__call .popup__back span {
  position: absolute;
  background: #ff2f96;
  display: block;
  width: 30px;
  height: 3px;
}

.popup__call .popup__back span:first-child {
  top: 15px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__call .popup__back span:last-child {
  top: 15px;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__call * {
  font-size: 25px;
  width: 50%;
}

.popup__call .popup__title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.popup__call .popup__input {
  margin: 3px 0 20px 0;
  border: 2px solid #ff4e2e;
  border-radius: 23px;
  padding: 6px 15px;
  outline: none;
}

.popup__call .popup__text {
  text-align: center;
  margin-bottom: 20px;
  color: #2b122b;
}

.popup__call .popup__submit {
  margin-bottom: 30px;
}

@media (max-width: 1030px) {
  .popup .popup__call {
    width: 70%;
    border-radius: 0;
  }
}

@media (max-width: 850px) {
  .popup .popup__call {
    width: 90%;
  }
}

@media (max-width: 660px) {
  .popup .popup__call {
    width: 100%;
    height: 100%;
  }
  .popup .popup__call * {
    font-size: 20px;
  }
}

@media (max-width: 435px) {
  .popup .popup__call * {
    width: 80%;
  }
  .popup .popup__call .popup__title {
    width: 50%;
  }
  .popup .popup__call .popup__submit {
    width: 50%;
  }
  .popup .popup__call .popup__back {
    width: 30px;
  }
}

.target {
  visibility: visible;
  opacity: 1;
}

.target .popup__call {
  -webkit-transform: perspective(600px) translate(0, 0) rotateX(0);
          transform: perspective(600px) translate(0, 0) rotateX(0);
  opacity: 1;
}

.central-container {
  width: 60.9375%;
  margin: 0 auto;
}

@media (max-width: 1621px) {
  .central-container {
    width: auto;
    margin: 0 40px;
  }
}

@media (max-width: 415px) {
  .central-container {
    margin: 0 20px;
  }
}

.request-call {
  width: 44.95614%;
  height: 43px;
  border: 0;
  background: transparent;
  outline: 1px solid #ff2f96;
  color: #ff2f96;
  font-size: 16px;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;
}

.request-call:hover {
  color: #fff;
  background-color: #ff2f96;
}

.learn-more {
  display: block;
  width: 23.07692%;
  min-width: 250px;
  height: 60px;
  border: none;
  background-color: #ff4e2e;
  color: #fff;
  outline: none;
  font-size: 18px;
}

.center {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.slick-arrow {
  z-index: 1;
  font-size: 0;
  position: absolute;
  top: 35%;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background-image: url("../img/arrow.png");
  background-color: transparent;
  outline: none;
}

.header__menu-2 {
  display: none;
}

.header__menu-2 span {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: block;
  width: 45px;
  height: 6px;
  background: transparent;
}

.header__menu-2 span:first-child {
  background-color: #ff2f96;
}

.header__menu-2 span:nth-child(2) {
  margin: 7px 0;
  visibility: visible;
  opacity: 1;
  background: -webkit-gradient(linear, left bottom, right top, from(#ff8f5a), to(#ff2f96));
  background: linear-gradient(to top right, #ff8f5a, #ff2f96);
}

.header__menu-2 span:last-child {
  background-color: #ff4e2e;
}

.header__menu-2.active {
  position: relative;
}

.header__menu-2.active span {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header__menu-2.active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__menu-2.active span:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}

.header__menu-2.active span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__mob-menu {
  display: none;
  margin-top: 15px;
  z-index: 2;
  width: 100%;
  -webkit-transition: none;
  transition: none;
  background: #ffd9c7;
}

.header__mob-menu .header__item {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
}

.header__mob-menu .header__item:nth-child(2) {
  border-top: 1px solid #5f5d5d;
  border-bottom: 1px solid #5f5d5d;
}

@media (max-width: 415px) {
  .header__mob-menu .header__item {
    font-size: 20px;
  }
}

@media (max-width: 340px) {
  .header__mob-menu .header__item {
    font-size: 18px;
  }
}

header {
  position: fixed;
  top: 29px;
  width: 100%;
  z-index: 1;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23.93162%;
}

header .header__item .active {
  border-bottom: 1px solid #ff4e2e;
}

header .header__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 38.97436%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__request .number {
  font-size: 25px;
  font-weight: bold;
}

header .header__request .header__call-2 {
  display: none;
}

@media (max-width: 1080px) {
  header .header__request {
    width: 47.85156%;
  }
}

@media (max-width: 1044px) {
  header .header .header__menu-2 {
    display: block;
  }
  header .header .header__menu {
    display: none;
  }
}

@media (max-width: 890px) {
  header .header__request {
    width: 68.4375%;
  }
}

@media (max-width: 650px) {
  header .header__request {
    width: 77%;
  }
}

@media (max-width: 580px) {
  header .header .header__call-2 {
    display: block;
    width: 26px;
    height: 26px;
    border: 1px solid #ff2f96;
    border-radius: 50%;
    outline: none;
    border-bottom: 1px solid #ff4e2e;
  }
  header .header .header__call {
    display: none;
  }
}

@media (max-width: 415px) {
  header .header .header__menu-2 span {
    width: 40px;
    height: 5px;
  }
  header .header .header__number {
    font-size: 22px;
  }
}

@media (max-width: 370px) {
  header .header .header__menu-2 span {
    width: 30px;
    height: 4px;
  }
  header .header .header__menu-2 span:nth-child(2) {
    margin: 4px 0;
  }
  header .header .header__number {
    font-size: 20px;
  }
}

@media (max-width: 340px) {
  header .header .header__menu-2 span {
    width: 24px;
    height: 3px;
  }
  header .header .header__number {
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  header {
    top: 26px;
  }
}

main {
  margin-top: 136px;
}

main .about-me {
  z-index: 0;
  margin-bottom: 78px;
  position: relative;
  background-image: url("../img/man-bg.png");
  background-repeat: no-repeat;
  background-position: 111% top;
}

main .about-me__flight-letters {
  position: absolute;
  color: #ff2f96;
  z-index: 1;
}

main .about-me__flight-letter-1 {
  display: inline-block;
  font-size: 48px;
  -webkit-transform: rotate(390deg);
          transform: rotate(390deg);
  opacity: 1;
  top: -7px;
  left: 126px;
  -webkit-animation-name: letter-1;
          animation-name: letter-1;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes letter-1 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

@keyframes letter-1 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

main .about-me__flight-letter-2 {
  font-size: 30px;
  -webkit-transform: rotate(-374deg);
          transform: rotate(-374deg);
  top: 24px;
  left: 771px;
  opacity: 1;
  -webkit-animation-name: letter-2;
          animation-name: letter-2;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes letter-2 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

@keyframes letter-2 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

main .about-me__flight-letter-3 {
  font-size: 57px;
  -webkit-transform: rotate(375deg);
          transform: rotate(375deg);
  top: 215px;
  left: 238px;
  opacity: 1;
  -webkit-animation-name: letter-3;
          animation-name: letter-3;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes letter-3 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

@keyframes letter-3 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

main .about-me__flight-letter-4 {
  font-size: 38px;
  background: -webkit-gradient(linear, left top, right top, from(#ff2f96), to(#ff8f5a));
  background: linear-gradient(to right, #ff2f96, #ff8f5a);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  top: 390px;
  left: 930px;
  -webkit-transform: rotate(381deg);
          transform: rotate(381deg);
  opacity: 1;
  -webkit-animation-name: letter-4;
          animation-name: letter-4;
  -webkit-animation-duration: 2.6s;
          animation-duration: 2.6s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes letter-4 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

@keyframes letter-4 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

main .about-me__flight-letter-5 {
  font-size: 41px;
  top: 517px;
  left: 367px;
  -webkit-transform: rotate(-384deg);
          transform: rotate(-384deg);
  opacity: 1;
  -webkit-animation-name: letter-5;
          animation-name: letter-5;
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes letter-5 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

@keyframes letter-5 {
  0% {
    left: 80%;
    top: 90%;
    opacity: 0;
  }
}

main .about-me__flight-letter-6 {
  top: 93px;
  left: 421px;
  visibility: hidden;
  font-size: 47px;
  opacity: 1;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  -webkit-animation-name: letter-6;
          animation-name: letter-6;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

main .about-me__text {
  font-weight: bold;
  padding-top: 143px;
  padding-bottom: 237px;
  position: relative;
}

main .about-me__text .about-me__name {
  font-size: 80px;
  letter-spacing: -0.4px;
  word-spacing: -2px;
}

main .about-me__text .about-me__I {
  position: absolute;
  top: 0;
  right: -170px;
  height: 100%;
}

main .about-me__text .about-me__subtitle {
  display: block;
  font-size: 25px;
  margin-top: 12px;
  letter-spacing: -0.2px;
}

main .about-me__text .about-me__learn {
  margin-top: 45px;
}

main .about-me__text-2 {
  display: none;
}

@media (max-width: 1621px) {
  main .about-me .about-me__I {
    right: 3px;
  }
  main .about-me__flight-letter-3 {
    -webkit-transform: rotate(375deg);
            transform: rotate(375deg);
    top: 490px;
    left: 56px;
    opacity: 1;
  }
}

@media (max-width: 1428px) {
  main .about-me .about-me__name {
    font-size: 72px;
  }
}

@media (max-width: 1354px) {
  main .about-me {
    background-position: 466% 108px;
    background-size: 90% 630px;
    margin-bottom: 5px;
  }
  main .about-me .about-me__text {
    padding-top: 177px;
    padding-bottom: 229px;
  }
  main .about-me .about-me__name {
    font-size: 54px;
    letter-spacing: normal;
    word-spacing: normal;
  }
  main .about-me .about-me__subtitle {
    letter-spacing: normal;
    margin-top: 19px;
  }
}

@media (max-width: 1180px) {
  main .about-me__flight-letter-1 {
    opacity: 1;
    top: 17px;
    left: 80px;
  }
  main .about-me__flight-letter-2 {
    -webkit-transform: rotate(-374deg);
            transform: rotate(-374deg);
    top: 11px;
    left: 887px;
    opacity: 1;
  }
  main .about-me__flight-letter-4 {
    top: 408px;
    left: 868px;
    -webkit-transform: rotate(381deg);
            transform: rotate(381deg);
    opacity: 1;
  }
  main .about-me__flight-letter-5 {
    top: 445px;
    left: 358px;
    -webkit-transform: rotate(-384deg);
            transform: rotate(-384deg);
    opacity: 1;
  }
  main .about-me__flight-letter-6 {
    visibility: visible;
  }
  @-webkit-keyframes letter-6 {
    0% {
      left: 80%;
      top: 90%;
      opacity: 0;
    }
  }
  @keyframes letter-6 {
    0% {
      left: 80%;
      top: 90%;
      opacity: 0;
    }
  }
}

@media (max-width: 970px) {
  main .about-me__flight-letter-2 {
    -webkit-transform: rotate(19deg);
            transform: rotate(19deg);
    font-size: 15px;
    top: 29px;
    left: 247px;
    opacity: 1;
  }
  main .about-me__flight-letter-4 {
    display: none;
  }
  main .about-me__flight-letter-5 {
    display: none;
  }
  main .about-me .about-me__text {
    padding-top: 127px;
    padding-bottom: 179px;
  }
  main .about-me .about-me__text .about-me__name {
    font-size: 50px;
  }
  main .about-me .about-me__text .about-me__subtitle {
    font-size: 21px;
  }
  main .about-me .about-me__text .about-me__learn {
    height: 60px;
  }
}

@media (max-width: 830px) {
  main .about-me .about-me__text {
    padding-top: 100px;
    padding-bottom: 150px;
  }
  main .about-me .about-me__text .about-me__name {
    font-size: 40px;
  }
  main .about-me .about-me__text .about-me__subtitle {
    font-size: 18px;
  }
  main .about-me .about-me__text .about-me__learn {
    height: 55px;
  }
  main .about-me__flight-letter-3 {
    -webkit-transform: rotate(375deg);
            transform: rotate(375deg);
    top: 330px;
    left: 56px;
    opacity: 1;
  }
}

@media (max-width: 720px) {
  main .about-me .about-me__text {
    padding-top: 59px;
    padding-bottom: 108px;
  }
  main .about-me .about-me__text .about-me__name {
    font-size: 30px;
  }
  main .about-me .about-me__text .about-me__subtitle {
    font-size: 16px;
  }
  main .about-me .about-me__text .about-me__learn {
    height: 45px;
  }
  main .about-me__flight-letter-3 {
    -webkit-transform: rotate(375deg);
            transform: rotate(375deg);
    top: 260px;
    left: 56px;
    opacity: 1;
  }
}

@media (max-width: 580px) {
  main .about-me__flight-letter-1 {
    -webkit-transform: rotate(385deg);
            transform: rotate(385deg);
    opacity: 1;
    font-size: 25px;
    top: -16px;
    left: 49px;
  }
  main .about-me__flight-letter-6 {
    top: -35px;
    visibility: visible;
    left: 172px;
    font-size: 19px;
    opacity: 1;
    -webkit-transform: rotate(-28deg);
            transform: rotate(-28deg);
  }
  main .about-me__flight-letter-3 {
    -webkit-transform: rotate(375deg);
            transform: rotate(375deg);
    top: 86px;
    font-size: 30px;
    left: 36px;
    opacity: 1;
  }
  main .about-me .about-me__text {
    padding: 176px 0;
    margin-bottom: 12px;
  }
  main .about-me .about-me__text .about-me__name {
    display: none;
  }
  main .about-me .about-me__text .about-me__subtitle {
    display: none;
  }
  main .about-me .about-me__text .about-me__learn {
    display: none;
  }
  main .about-me__text-2 {
    display: block;
    text-align: center;
  }
  main .about-me__text-2 .about-me__name {
    font-size: 36px;
    margin-bottom: 10px;
  }
  main .about-me__text-2 .about-me__subtitle {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 30px;
    color: gray;
  }
  main .about-me__text-2 .about-me__learn {
    margin-bottom: 42px;
  }
}

@media (max-width: 415px) {
  main .about-me {
    background-position: -43px 58px;
    background-size: 139% 100%;
  }
}

@media (max-width: 370px) {
  main .about-me__text-2 .about-me__name {
    font-size: 30px;
  }
  main .about-me__text-2 .about-me__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
}

main .I-do {
  margin-bottom: 169px;
}

main .I-do__title {
  text-align: center;
  font-size: 54px;
}

main .I-do__list {
  color: gray;
  margin-top: 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 88px;
}

main .I-do__list .I-do__item {
  width: 25%;
  background-color: #fff;
  height: 100%;
  font-size: 20px;
  text-align: center;
}

main .I-do__list .I-do__item .I-do__img {
  display: block;
  margin: 0 auto 18px;
}

@media (max-width: 1024px) {
  main .I-do {
    margin-bottom: 193px;
  }
  main .I-do .I-do__list {
    margin-bottom: 20px;
  }
  main .I-do .I-do__list .I-do__item {
    margin-bottom: 80px;
    width: 30%;
    margin-left: 5%;
    margin-right: 6%;
    line-height: 25px;
  }
  main .I-do .I-do__list .I-do__item .I-do__img {
    margin: 6px auto 21px;
  }
}

@media (max-width: 825px) {
  main .I-do {
    margin-bottom: 94px;
  }
  main .I-do .I-do__list {
    margin-top: 50px;
    margin-bottom: 15px;
  }
}

@media (max-width: 750px) {
  main .I-do .I-do__list .I-do__item {
    width: 48%;
    margin: 0 1% 37px;
  }
}

@media (max-width: 580px) {
  main .I-do .I-do__title {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  main .I-do .I-do__list .I-do__item {
    width: 100%;
    margin: 0 0 37px;
  }
}

@media (max-width: 415px) {
  main .I-do {
    margin-top: 116px;
  }
  main .I-do .I-do__list {
    margin-top: 40px;
  }
  main .I-do .I-do__list .I-do__img {
    width: 25%;
  }
}

@media (max-width: 370px) {
  main .I-do .I-do__title {
    font-size: 30px;
  }
  main .I-do .I-do__list {
    margin-top: 37px;
  }
  main .I-do .I-do__list .I-do__item {
    font-size: 16px;
  }
  main .I-do .I-do__list .I-do__item .I-do__img {
    margin: 6px auto 15px;
  }
}

main .works {
  margin-bottom: 100px;
}

main .works__title {
  font-size: 54px;
  text-align: center;
  margin-bottom: 90px;
}

main .works__list {
  position: relative;
  margin-bottom: 95px;
}

main .works__list .slick-prev {
  left: -30px;
  -webkit-box-shadow: 5px 5px 20px -10px #000;
          box-shadow: 5px 5px 20px -10px #000;
}

main .works__list .slick-next {
  right: -30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-box-shadow: 5px -5px 20px -10px #000;
          box-shadow: 5px -5px 20px -10px #000;
}

main .works__list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .works__list .slick-list {
  overflow: hidden;
}

main .works__list .works__example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 31.62393%;
  height: 100%;
  border: none;
}

main .works__list .works__example .works__img {
  width: 370px;
  height: 290px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .works__list .works__example .works__site {
  margin-top: 10%;
  font-size: 20px;
  text-align: center;
  color: #999999;
}

main .works .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
}

main .works .slick-dots li {
  list-style-type: none;
  margin: 0 15px;
}

main .works .slick-dots li button {
  width: 18px;
  height: 100%;
  border: none;
  font-size: 0;
  border-radius: 50%;
}

main .works .slick-dots .slick-active button {
  background-color: #ff4e2e;
}

@media (max-width: 1230px) {
  main .works .works__list {
    margin-bottom: 100px;
  }
  main .works .works__list .works__example {
    width: 48.14815%;
  }
  main .works .works__list .works__example .works__img {
    width: 70%;
    height: 320px;
  }
  main .works .works__list .works__example .works__site {
    font-size: 25px;
    margin-top: 6%;
  }
  main .works .slick-list {
    margin-bottom: 94px;
  }
}

@media (max-width: 900px) {
  main .works .works__list .works__example .works__img {
    width: 90%;
    height: 300px;
  }
}

@media (max-width: 720px) {
  main .works .works__title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  main .works .works__list .slick-list {
    margin-bottom: 35px;
  }
}

@media (max-width: 580px) {
  main .works .works__title {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  main .works .works__list {
    margin-bottom: 60px;
  }
  main .works .works__list .works__example .works__img {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 370px) {
  main .works .works__title {
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  main .works {
    margin-bottom: 50px;
  }
  main .works .works__title {
    margin-bottom: 42px;
  }
  main .works .works__list {
    width: 100%;
  }
  main .works .works__list .slick-dots {
    height: 10px;
  }
  main .works .works__list .slick-dots li {
    margin: 0 8px;
  }
  main .works .works__list .slick-dots button {
    width: 10px;
    height: 100%;
  }
  main .works .works__list .works__example .works__img {
    width: 100%;
    height: 250px;
  }
  main .works .works__list .works__example .works__site {
    margin-top: 4.5%;
    font-size: 18px;
  }
}

main .price {
  position: relative;
  width: 100%;
  margin-bottom: 80px;
  background: -webkit-gradient(linear, left bottom, right top, from(#ff8f5a), to(#ff2f96));
  background: linear-gradient(to top right, #ff8f5a, #ff2f96);
}

main .price__flight-letters {
  position: absolute;
  color: white;
  z-index: 1;
}

main .price__flight-letter-1 {
  font-size: 49px;
  top: 56px;
  left: 126px;
  -webkit-transform: rotate(388deg);
          transform: rotate(388deg);
  opacity: 1;
  -webkit-animation-name: price-letter-1, price-letter-1-1;
          animation-name: price-letter-1, price-letter-1-1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes price-letter-1 {
  0% {
    opacity: 0;
    top: 50%;
    left: 80%;
  }
}

@keyframes price-letter-1 {
  0% {
    opacity: 0;
    top: 50%;
    left: 80%;
  }
}

main .price__flight-letter-2 {
  font-size: 41px;
  top: 71px;
  right: 201px;
  -webkit-transform: rotate(-382deg);
          transform: rotate(-382deg);
  opacity: 1;
  -webkit-animation-name: price-letter-2, price-letter-2-1;
          animation-name: price-letter-2, price-letter-2-1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes price-letter-2 {
  0% {
    top: 50%;
    right: 80%;
    opacity: 0;
  }
}

@keyframes price-letter-2 {
  0% {
    top: 50%;
    right: 80%;
    opacity: 0;
  }
}

main .price__flight-letter-3 {
  font-size: 58px;
  bottom: 46px;
  left: 237px;
  -webkit-transform: rotate(374deg);
          transform: rotate(374deg);
  opacity: 1;
  -webkit-animation-name: price-letter-3, price-letter-3-1;
          animation-name: price-letter-3, price-letter-3-1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes price-letter-3 {
  0% {
    left: 80%;
    bottom: 50%;
    opacity: 0;
  }
}

@keyframes price-letter-3 {
  0% {
    left: 80%;
    bottom: 50%;
    opacity: 0;
  }
}

main .price__flight-letter-4 {
  font-size: 38px;
  right: 400px;
  bottom: 16px;
  -webkit-transform: rotate(380deg);
          transform: rotate(380deg);
  opacity: 1;
  -webkit-animation-name: price-letter-4, price-letter-4-1;
          animation-name: price-letter-4, price-letter-4-1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes price-letter-4 {
  0% {
    bottom: 50%;
    right: 80%;
    opacity: 0;
  }
}

@keyframes price-letter-4 {
  0% {
    bottom: 50%;
    right: 80%;
    opacity: 0;
  }
}

main .price__flight-letter-5 {
  font-size: 50px;
  right: 106px;
  bottom: 47px;
  -webkit-transform: rotate(-379deg);
          transform: rotate(-379deg);
  opacity: 1;
  -webkit-animation-name: price-letter-5, price-letter-5-1;
          animation-name: price-letter-5, price-letter-5-1;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes price-letter-5 {
  0% {
    bottom: 50%;
    right: 80%;
    opacity: 0;
  }
}

@keyframes price-letter-5 {
  0% {
    bottom: 50%;
    right: 80%;
    opacity: 0;
  }
}

main .price__container {
  padding-top: 75px;
  padding-bottom: 78px;
  color: white;
}

main .price__container .price__title {
  margin-left: 9.82906%;
  word-spacing: 1px;
  line-height: 54px;
  font-size: 45px;
}

main .price__container .price__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 9.82906%;
  font-size: 18px;
  margin-top: 39px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

main .price__container .price__subtitle :first-child {
  margin-right: 5px;
}

main .price__container .price__subtitle :nth-child(2) {
  width: 78.30688%;
}

@media (max-width: 1621px) {
  main .price {
    margin-bottom: 105px;
  }
  main .price__flight-letter-1 {
    top: 21px;
    left: 156px;
    font-size: 33px;
  }
  main .price__flight-letter-2 {
    top: 286px;
    right: 93px;
  }
  main .price__flight-letter-3 {
    visibility: hidden;
    opacity: 0;
  }
  main .price__flight-letter-4 {
    font-size: 25px;
    right: 453px;
    bottom: 31px;
  }
  main .price__flight-letter-5 {
    visibility: hidden;
    opacity: 0;
  }
  main .price__container {
    padding-bottom: 82px;
  }
  main .price__container .price__title {
    margin-left: 0;
    word-spacing: 1.7px;
    line-height: 61px;
  }
  main .price__container .price__subtitle {
    margin-left: 0;
    margin-top: 30px;
    letter-spacing: normal;
    word-spacing: 0.35px;
  }
}

@media (max-width: 945px) {
  main .price .price__title {
    font-size: 40px;
  }
}

@media (max-width: 860px) {
  main .price {
    margin-bottom: 48px;
  }
}

@media (max-width: 850px) {
  main .price .price__title {
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  main .price {
    background: -webkit-gradient(linear, left bottom, left top, from(#ff8f5a), to(#ff2f96));
    background: linear-gradient(to top, #ff8f5a, #ff2f96);
  }
  main .price .price__flight-letter-1 {
    display: none;
  }
  main .price .price__flight-letter-2 {
    display: none;
  }
  main .price .price__flight-letter-3 {
    display: none;
  }
  main .price .price__flight-letter-4 {
    display: none;
  }
  main .price .price__flight-letter-5 {
    display: none;
  }
  main .price .price__container {
    padding-top: 30px;
  }
  main .price .price__title {
    font-size: 30px;
  }
  main .price .price__subtitle :nth-child(2) {
    width: 92.1875%;
  }
}

@media (max-width: 430px) {
  main .price .price__container {
    padding-top: 43px;
    padding-bottom: 51px;
  }
  main .price .price__title {
    font-size: 28px;
    line-height: 40px;
  }
  main .price .price__subtitle :nth-child(2) {
    font-size: 15px;
  }
}

main .go-up {
  display: none;
}

main .go-up__arrow {
  position: fixed;
  width: 50px;
  height: 50px;
  right: 5%;
  background: transparent;
  bottom: 10%;
}

footer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 62px;
}

footer .information .information__list {
  font-size: 18px;
}

footer .information .information__list .information__item {
  margin-bottom: 11px;
}

footer .information .information__request {
  width: 30%;
  font-size: 25px;
  padding-left: 15%;
}

footer .information .information__request .information__icon {
  margin-right: 10px;
  color: #ff2f96;
}

footer .information .information__request .information__item-2 {
  margin-bottom: 28px;
}

footer .information .information__soc-net {
  width: 23.07692%;
}

footer .information .information__soc-net .information__call {
  width: 91.85185%;
  margin-bottom: 25px;
}

footer .information .information__soc-net .information__learn {
  display: none;
}

footer .information .information__soc-net .information__nets .information__item-3 {
  display: inline-block;
  margin-right: 8%;
  width: 30px;
  height: 30px;
}

footer .information .information__soc-net .information__nets .information__item-3 .information__site {
  background-image: url("../img/social_net.png");
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 100%;
}

footer .information .information__soc-net .information__nets .information__item-3 .vk {
  background-position: left;
}

footer .information .information__soc-net .information__nets .information__item-3 .fb {
  background-position: -30px;
}

footer .information .information__soc-net .information__nets .information__item-3 .tw {
  background-position: -60px;
}

footer .information .information__soc-net .information__nets .information__item-3 .in {
  background-position: right;
}

footer .footer__down {
  padding: 28px 0;
  background-color: #31293c;
  color: white;
  text-align: center;
}

@media (max-width: 1170px) {
  footer .information .information__request {
    width: 31.74603%;
    padding-left: 0;
    font-size: 22px;
  }
  footer .information .information__soc-net {
    width: 26.13757%;
  }
  footer .information .information__soc-net .information__call {
    width: 100%;
    margin-bottom: 30px;
  }
  footer .information .information__soc-net .information__nets .information__item-3 {
    margin-left: 1%;
  }
}

@media (max-width: 860px) {
  footer .information {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .information .information__list {
    margin-bottom: 29px;
    width: 50%;
  }
  footer .information .information__request {
    width: 50%;
  }
  footer .information .information__soc-net {
    width: 250px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  footer .information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .information .information__list {
    margin-bottom: 29px;
    width: auto;
  }
  footer .information .information__request {
    width: auto;
  }
  footer .information .information__soc-net {
    width: 250px;
  }
}

@media (max-width: 430px) {
  footer .information {
    margin-bottom: 44px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .information .information__request .information__icon {
    margin-right: 15px;
  }
  footer .information .information__list {
    font-size: 15px;
  }
  footer .information .information__list .information__item {
    margin-bottom: 14px;
  }
  footer .information .information__request {
    width: 100%;
    font-size: 20px;
    margin-bottom: 4px;
  }
  footer .information .information__request .information__item-2 {
    margin-bottom: 22px;
  }
  footer .information .information__soc-net {
    width: 100%;
  }
  footer .information .information__soc-net .information__call {
    display: none;
  }
  footer .information .information__soc-net .information__learn {
    display: block;
    margin-bottom: 50px;
  }
  footer .information .information__soc-net .information__nets .information__item-3 {
    margin-right: 6%;
  }
  footer .footer__down {
    font-size: 12px;
    padding: 20px 0;
  }
}

@media (max-width: 1354px) {
  .learn-more {
    width: 33.86243%;
    height: 68px;
  }
}

@media (max-width: 580px) {
  .learn-more {
    width: 100%;
    height: 55px;
  }
}
